.header {
  display: flex;
  flex-direction: column;
  border-bottom: var(--line);
  padding: 4rem 6rem;
  font-size: 1.4rem;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
  transition: all 0.5s;
  font-family: $font-secondary;

  @media only screen and (max-width: $bp-medium) {
    padding: 4rem 2rem;
  }

  .category__name {
    opacity: 0.85;
    transition: all 0.5s;
    margin-bottom: 2rem;
    font-weight: 600;

    @media only screen and (max-width: $bp-medium) {
      align-self: flex-end;
    }
  }

  &.is-hidden {
    transform: translateY(-7rem);

    .category__name {
      opacity: 0;
    }

    .search {
      margin-left: 4.5rem;

      @media only screen and (max-width: $bp-small) {
        margin-left: 6rem;
      }
    }
  }

  @media only screen and (max-width: $bp-small) {
    grid-column: 1 / -1;
  }
}
