.main {
  @media only screen and (max-width: $bp-small) {
    grid-column: 1/-1;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 347px);
    padding: 4rem 6rem;
    padding-right: 2.5rem;
    background-color: rgb(250, 250, 250);
    gap: 2rem;

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(auto-fit, minmax(268px, 296px));
      padding: 2.5rem;
      place-content: center;
    }
  }

  &__coupon {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: var(--shadow-coupon);
    background-color: #fff;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      border: 1px var(--color-secondary) solid;
    }
  }

  &__coupon-top {
    padding-top: 1.6rem;
    padding-left: 2rem;
    width: max-content;
    font-size: 1.6rem;
    line-height: 1.2;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.2rem;
    }
  }

  &__coupon-bottom {
    padding-left: 2rem;
    display: grid;
    grid-template-rows: min-content min-content;
    line-height: 1.2;
  }

  &__coupon-img {
    justify-self: end;
    grid-column: 2;
    grid-row: 1 / -1;
    height: 100%;

    img {
      display: block;
      height: 100%;
    }
  }

  &__coupon-title {
    display: block;

    font-weight: bold;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #000;
  }

  &__coupon-description {
    opacity: 0.5;
  }

  &__coupon-value {
    color: var(--color-secondary);
    font-size: 3.6rem;
    font-weight: 500;

    @media only screen and (max-width: $bp-small) {
      font-size: 2.8rem;
    }
  }

  &__coupon-type {
    font-size: 1.6rem;
    letter-spacing: 0.4em;
    opacity: 0.5;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.2rem;
    }
  }
}
